* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  background: #B8BFD6;
}

.image__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;

  img {
    width: 100%;
  }
}

